
//Global transition settings
%globaltransition{
    @include transition-duration(0.2s);
    @include transition-timing-function(linear);
}


@-webkit-keyframes fade-in {
    0%   { opacity: 0; }
    50%   { opacity: 0; }
    100% { opacity: 1; }
}

.m-item, .m-year-badge{
    @include transition-duration(0.8s);
    @include transition-timing-function(linear);
    @include transition-property(opacity);
}

//Fading animation for the modal box
.fade{
    opacity: 0;
    @extend %globaltransition;
    @include transition-property(opacity);
    &.in{opacity: 1;}
}

.m-background{
    @include transition-duration(0.3s);
    @include transition-timing-function(linear);
    @include transition-property(opacity);
}