/* =======================================================================
Font-face
========================================================================== */


/* =======================================================================
Variables
========================================================================== */

//Colors

$white:                             #fff;
$almostblack:                       #191919;



//Layout colors
$backgroundcolor:                   #e2e2e2;
$basefontcolor:                     black;

/* Fonts stacks */
$fontstacktitle:                    Arial, Helvetica, sans-serif;
$fontstackparagraph:                Arial, Helvetica, sans-serif;

/* Layout */
$containersize:                     100%;
$wrapperpadding:                    40px;
$containermin:                      720px;



/* =======================================================================
Mixins
========================================================================== */


/* =======================================================================
Placeholder
========================================================================== */