/* =======================================================================
Font-face
========================================================================== */
@font-face {
    font-family: 'LobsterTwo-BoldItalic';
    src: url('../fonts/LobsterTwo-BoldItalic-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/LobsterTwo-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/LobsterTwo-BoldItalic-webfont.woff') format('woff'), /* Modern Browsers */
         url('../fonts/LobsterTwo-BoldItalic-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/LobsterTwo-BoldItalic-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
}

/* =======================================================================
Variables
========================================================================== */

//Colors

$white:                             #fff;

$transwhite:                        rgba(255,255,255, 0.9);

$almostblack:                       #27283c;

$beige:                             #E7DFC8;


$darkgrey:                          #7d7d7d;
$lightgrey:                         #8c8c8c;

//Layout colors
$backgroundcolor:                   #d5d2d2;
$basefontcolor:                     $almostblack;

/* Fonts stacks */
$fontstacktitle:                    "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
$fontstackparagraph:                "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
$fontstackheader:                   "LobsterTwo-BoldItalic", serif;


/* Layout */
$containersize:                     740px;
$wrapperpadding:                    40px;
$containermin:                      720px;



/* =======================================================================
Mixins
========================================================================== */
@mixin triangle($direction, $color, $size) {

    @if $direction == "left" {
        border-bottom: $size solid transparent;
        border-right: $size solid $color;
        border-top: $size solid transparent;
    }
    @else if $direction == "right" {
        border-bottom: $size solid transparent;
        border-left: $size solid $color;
        border-top: $size solid transparent;
    }
    @else if $direction == "up" {
        border-bottom: $size solid $color;
        border-left: $size solid transparent;
        border-right: $size solid transparent;
    }
    @else if $direction == "down" {
        border-right: $size solid transparent;
        border-left: $size solid transparent;
        border-top: $size solid $color;
    }

    height: 0;
    width: 0;
}

/* =======================================================================
Placeholder
========================================================================== */

%iconsprite{
    background:transparent inline-image('s-icons.png') no-repeat;
}