
.l-wrapped{
    margin:0 auto;
    width:$containersize;
}


#container{
    @extend .clearfix;
    position:relative;
    min-width: $containermin;
    .m-background{
        opacity:0;
        z-index:1;
        position:absolute;
        top:0;
        left:0;
        width:100%;
    }
    #timeline, #addform{
        position:relative;
        z-index:1000;
    }
}
