html,
body{
    height:100%;
    min-height:100%;
}
.l-wrapped{
    margin:0 auto;
    width:$containersize;
}


#container{
    position:relative;
    min-width: $containermin;
    min-height: 100%;
    >.l-wrapped{
        @extend .clearfix;
        position:relative;
        z-index:1001;
    }
    .m-background{
        opacity:0;
        z-index:1;
        position:absolute;
        top:0;
        left:0;
        width:100%;
        min-height: 100%;
    }
    #timeline, #addform{
        position:relative;
        z-index:1000;
    }
    .m-notifications{
        position:fixed;
        top:275px;
        left:20px;
        z-index:1001;
    }
}
