
.m-header{
    padding:25px 0 12px;
    background-color:$transwhite;
    .l-wrapped{position:relative;}
    .intro{
        float:left;
        width:300px;
        margin-right:10px;
        text-align: center;
        color:$darkgrey;
    }
    h2{margin-bottom:6px;}
    .m-logo_ode{
        margin:0 auto 10px
    }
    .m-bonhomme{
        float:left;
        margin-right:10px;
    }
    .m-comment_box_wrapper{
        position:absolute;
        top:20px;
        right:-12px;
    }
    .l-wrapped{
        @extend .clearfix;
    }
}


.m-logo_ode{
    width:226px;
    height:70px;
    margin:0;
    color:$almostblack;
    font-family: $fontstackheader;
    font-size: 80px;
    line-height: 84px;
    position:relative;
    span{
        position:absolute;
        top: -28px;
        left: 50px;
        font-size:32px;
    }
    a{
        display:block;
        height:100%;
        width:100%;
        color:$almostblack;
        text-decoration:none;
    }
}

.m-bonhomme{
    width:146px;
    height:218px;
    background:inline-image('img-barlow.png') no-repeat;
}


#timeline{
    position:relative;
    padding:0;
    margin:0;

}

.m-col{
    min-height: 200px;
    &.l-col-1{
        float:left;
        width:369px;
        padding-bottom:300px;
        border-right:3px solid $darkgrey;
    }
    &.l-col-2{
        float:right;
        width:368px;
        padding-top:140px;
        .m-item{
            margin-left:34px;
        }
    }
}

.m-row{
    list-style:none;
    border-bottom:1px solid #6fcee4;
    padding:36px 0;
}

.m-item{
    display:block;
    position:relative;
    opacity:0;
    padding:8px;
    margin-bottom:30px;
    width:335px - 16px;
    background:$white;
    @include border-radius(15px);
    @include box-shadow(rgba(0, 0, 0, 0.3) 3px 3px 6px -1px);

    cursor:pointer;

    &.s-hover{
    }
    header{
        padding:4px 8px 0 8px;
        .text{
            margin:12px 0;
            font-style: italic;
        }
        .date{
            float:right;
            color:$lightgrey;
        }
        .name{
            float:left;
            margin:0;
            font: {
                size:18px;
                family:$fontstackheader;
            }
        }
        .title{
            clear:both;
            margin-bottom:12px;
            font: {
                size:24px;
                family:$fontstackheader;
            }
        }
    }
    .img-wrapper{
        border:8px solid $beige;
        @include border-bottom-radius(10px);
        img{width:100%;}
    }
    .txt-wrapper{padding:0 8px;}
    .commentsnb{
        padding:4px 8px 0 24px;
        color:$almostblack;
        position:relative;
        margin-left:6px;
        font-family: $fontstackheader;
        &:before{
            content:"";
            display: block;
            position:absolute;
            left:3px;
            top:6px;
            height:12px;
            width:16px;
            @extend %iconsprite;
            background-position:-87px -1px;
        }
    }

    &.l-video{}
    &.l-photo{}
    &.l-text{}

    //THE ARROW
    &:before{
        content:"";
        display:block;
        position:absolute;
        top:30px;
    }

    .l-col-1 &:before{
        right:-17px;
        @include triangle("right", $white, 18px);
    }

    .l-col-2 &:before{
        left:-17px;
        @include triangle("left", $white, 18px);
    }

    //THE DOT
    &:after{
        content:"";
        display:block;
        position:absolute;
        top:44px;
        height:8px;
        width:8px;
        background: $darkgrey;
        @include border-radius(4em);
        border:3px solid #d5d3d3;
    }

    .l-col-1 &:after{
        right:-42px;
    }

    .l-col-2 &:after{
        left:-41px;
    }
}

.img-wrapper{
    img{width:100%;}
}


.m-comment_box_wrapper{
    position:relative;
    width:300px;
    .comment_box{
        position:relative;
        z-index:11;
        padding:22px 22px 30px 22px;
        height: 125px;
        background-color:$beige;
        border:6px solid $white;
        @include border-radius(15px);
        @include box-shadow(rgba(0, 0, 0, 0.2) 3px 3px 6px -2px);
        font:{
            size:22px;
            family: $fontstackheader;
        }
        line-height: 25px;
        >p{margin-top:22px;}
        &:after{
            content:"";
            display:block;
            position:absolute;
            right:10px;
            bottom:10px;
            @extend %iconsprite;
            background-position:0 0;
            height:24px;
            width:30px;
        }
    }
    &:before, &:after{
        content:"";
        display:block;
        position:absolute;
        @include rotate(45deg);
    }
    &:before{
        z-index:10;
        top:68px;
        left:-32px;
        @include triangle("up", $white, 26px);
        @include box-shadow(rgba(0, 0, 0, 0.1) 6px 5px 7px -4px);
    }
    &:after{
        z-index:12;
        top:74px;
        left:-18px;
        @include triangle("up", $beige, 18px);
    }
    .quote-1{
        padding-top:30px;
    }
    .quote-2{
        padding-top:44px;
    }
    .quote-3{
        padding-top:4px;
    }
}

.m-fullview{
    h2{
        font-size: 30px;
        font-family:$fontstackheader;
        margin-bottom: 9px;
    }
    h3{
        font-size: 18px;
        font-family:$fontstackheader;
        margin-bottom:4px;
    }
    .content{
        background:$beige;
        @include border-top-radius(15px);
        margin:0;
        padding:20px;
    }
    form{
        padding:0 20px;
        label{display:block;}
        table{
            width:100%;
            th{display:none;}
        }
        input[type="text"]{
            margin-left:1px;
            border:1px solid #9f9fa1;
            height:32px;
            padding-left:14px;
            margin-bottom:12px;
            width:400px - 14px;
            font-size: 13px;
            line-height: 32px;
            &:focus{
                border-color:$almostblack;
                outline:none;
            }
        }
        textarea{
            margin-left:1px;
            border:1px solid #9f9fa1;
            padding:14px;
            width:400px - 28px;
            &:focus{
                border-color:$almostblack;
                outline:none;
            }
        }
        #submitcomment{
            float:right;
            margin-top:-50px;
            height:50px;
            width:105px;
            border:none;
            @include border-radius(15px);
            @include box-shadow(rgba(0, 0, 0, 0.5) 3px 3px 6px 1px);
            background-color:#27283c;
            font-family: $fontstackheader;
            font-size: 20px;
            color:$white;
            text-align: center;
            &:hover{
                @include box-shadow(rgba(0, 0, 0, 0) 3px 3px 6px 1px);
            }
        }
    }

}
.m-comments{
    margin:0 0 20px 0;
    padding:0;
    li{
        list-style:none;
        padding:20px;
        border-bottom:1px solid $white;
        background:#f4f4f5;
        line-height: 22px;
        strong{
            font-family: $fontstackheader;
            font-size: 18px;
        }
    }
}

.m-year-badge{
    height:84px;
    width:84px;
    margin:36px auto 24px;
    background:$beige;
    border:6px solid $white;
    opacity:0;
    @include border-radius(4em);
    @include box-shadow(rgba(0, 0, 0, 0.2) 3px 3px 6px -2px);
    .year{
        font:{
            size: 26px;
            family:$fontstackheader;
        }
        text-align: center;
        &:before{
            content:'‘';
        }
    }
    .icon{
        @extend %iconsprite;
        margin:0 auto;
        position:relative;
        top:-4px;
        &.l-year-05{
            background-position:0 -29px;
            width: 66px;
            height: 66px;
        }
        &.l-year-06{
            background-position:-114px -29px;
            width: 84px;
            height: 71px;
        }
        &.l-year-07{
            background-position:-239px -29px;
            width: 81px;
            height: 71px;
        }
        &.l-year-08{
            background-position:-360px -31px;
            width: 87px;
            height: 69px;
        }
        &.l-year-09{
            background-position:-497px -24px;
            width: 59px;
            height: 83px;
        }
        &.l-year-10{
            background-position:-616px -21px;
            width: 67px;
            height: 82px;
        }
        &.l-year-11{
            background-position:-733px -25px;
            width: 81px;
            height: 84px;
        }
        &.l-year-12{
            background-position:-855px -33px;
            width: 84px;
            height: 77px;
        }
    }
}


.m-background{
    height:100%;
    &[data-badge="12"]{
        background:inline-image('bg-year_12.png');
    }
    &[data-badge="11"]{
        background:inline-image('bg-year_11.png');
    }
    &[data-badge="10"]{
        background:inline-image('bg-year_10.png');
    }
    &[data-badge="09"]{
        background:inline-image('bg-year_09.png');
    }
    &[data-badge="08"]{
        background:inline-image('bg-year_08.png');
    }
    &[data-badge="07"]{
        background:inline-image('bg-year_07.png');
    }
    &[data-badge="06"]{
        background:inline-image('bg-year_06.png');
    }
    &[data-badge="05"]{
        background:inline-image('bg-year_05.png');
    }
}

.m-notifications{
    display:none;
    width:228px;
    padding:20px;
    @include border-radius(15px);
    background:rgba(48,49,68, 0.9);
    color:$white;
    h2{
        font-family: $fontstackheader;
    }
    a{
        display:block;
        color:$white;
        &:hover{
            color:$beige;
        }
    }
}


.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1050;
    width: 616px;
    padding:0;
    margin: -300px 0 0 -300px;
    border:5px solid $white;
    background:$white;
    @include border-radius(30px);
    -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
    .modal-header{}
    .modal-footer{}
    .modal-body {
        max-height: 575px;
        padding: 1px;
        margin-right:16px;
        overflow-y: scroll;
        @include border-radius(24px);
    }
    .b-close{
        position:absolute;
        top: -15px;
        right: -15px;
        background:#868687;
        color:#868687;
        border:none;
        height:34px;
        width:35px;
        @include border-radius(4em);
        @include box-shadow(rgba(0, 0, 0, 0.6) 3px 3px 6px 1px);
        &:after{
            content:"";
            display:block;
            position:absolute;
            top: 9px;
            left: 11px;
            height:34px;
            width:35px;
            @extend %iconsprite;
            background-position: -50px 0;

        }

    }
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
    &.fade{opacity: 0;}
}

.modal-backdrop, .modal-backdrop.fade.in {
    opacity: 0.7;
    filter: alpha(opacity=70);
}






/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer {
    overflow: hidden;
    position: relative;
}

.jspPane {position: absolute; }

.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 16px;
    height: 100%;
    background: red;
}

.jspHorizontalBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 16px;
    background: red;
}

.jspVerticalBar *,
.jspHorizontalBar * {
    margin: 0;
    padding: 0;
}

.jspCap {display: none; }

.jspHorizontalBar .jspCap {float: left; }

.jspTrack {
    background: #dde;
    position: relative;
}

.jspDrag {
    background: #bbd;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
    float: left;
    height: 100%;
}

.jspArrow {
    background: #50506d;
    text-indent: -20000px;
    display: block;
    cursor: pointer;
}

.jspArrow.jspDisabled {
    cursor: default;
    background: #80808d;
}

.jspVerticalBar .jspArrow {height: 16px; }

.jspHorizontalBar .jspArrow {
    width: 16px;
    float: left;
    height: 100%;
}

.jspVerticalBar .jspArrow:focus {outline: none; }

.jspCorner {
    background: #eeeef4;
    float: left;
    height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {margin: 0 -3px 0 0;}